{{define "main"}}
    {{template "header"}}
    <div class="container-fluid">
        {{if .Alert}}
            {{template "alert" .Alert}}
        {{end}}
        {{template "yield" .Yield}}
    </div>
    {{template "footer"}}
{{end}}